
<div *ngIf="router.url !== '/'">
<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
  <div class="container">


    <ng-container *ngIf="auth.isAdmin()">
      <a routerLink="/" class="navbar-brand" routerLinkActive="active">Admin Portal (Fashionista)</a>
    </ng-container>
    <ng-container *ngIf="!auth.isAdmin()">
      <a routerLink="/" class="navbar-brand" routerLinkActive="active">Fashionista</a>
    </ng-container>
    


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!auth.isAuthenticated()">
          <li class="nav-item">
            <a routerLink="/auth/login" class="nav-link" routerLinkActive="active">
              Login
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/auth/register" class="nav-link">
              Register
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="auth.isAuthenticated()">



          <!-- admin controls -->

          <ng-container *ngIf="auth.isAdmin()">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/companies-list']">Manage Companies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/products-list']">Manage Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                Admin Account: {{ auth.getUsername() }}
              </a>
            </li>
          </ng-container>





          <!-- user shopping controls -->
          <ng-contrainer *ngIf="!auth.isAdmin()">
            <li class="nav-item">
              <a class="nav-link">
                User Account: {{ auth.getUsername() }}
              </a>
            </li>

            
            
          </ng-contrainer>
          




          <li class="nav-item">
            <a class="nav-link pointer" (click)="logout()">
              Logout
            </a>
          </li>




        </ng-container>
      </ul>
    </div>
  </div>
</nav>
</div>